/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */

/* Center the selection dot inside the circle (ion-select alert + any ion-radio) */
ion-radio {
  --size: 22px;
}
ion-radio::part(container) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
}
ion-radio::part(mark) {
  transform: none;
  border-radius: 50%;
}

/* Alert interface (ion-select): center the radio icon inner dot */
.alert-radio-icon {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.alert-radio-inner {
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
}
